{% block extra_head %}
<link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css">
<script language="javascript" src="/static/js/sortable.min.js"></script>
{% endblock %}
<table class="sortable-theme-bootstrap table table-hover" data-sortable>
	<thead>
		<tr>
			<th class="col-xs-3" data-sorted="true" data-sorted-direction="descending">Date</th>
			<th class="col-xs-5">Name</th>
			<th class="col-xs-2" data-sortable="false">From</th>
			<th class="col-xs-2" data-sortable="false">To</th>
		</tr>
	</thead>
	<tbody>
		{% for after in afters %}
			{% if after.end %}
				<tr>
			{% else %}
				<tr class='warning'>
			{% endif %}
				<td data-value="{{ after.start.strftime('%s') }}">
					{{ current_user.local_datetime(after.start).strftime('%d/%m/%y') }}
				</td>
				<td>
					<a href="{{ url_for('profile', username=after.user.username) }}">
						({{ after.user.yearbook }}) {{ after.user.full_name }}
					</a>
				</td>
				<td>{{ current_user.local_datetime(after.start).strftime('%H:%M') }}</td>
				<td>{{ current_user.local_datetime(after.end).strftime('%H:%M') if after.end != None else '--:--' }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

