{% extends 'base.html' %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css">
<script language="javascript" src="/static/js/sortable.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-header text-center">
	<h1 style="display:inline">
		{{ user.first_name }} {{ user.last_name }}
	</h1>
		{% if user == current_user %}
			<a href="{{ url_for('profile_edit') }}">Edit</a>
		{% elif current_user.admin %}
			<a href="{{ url_for('profile_edit', username=user.username) }}">Edit</a>
		{% endif %}
</div>
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<table class="sortable-theme-bootstrap table table-hover" data-sortable>
		<thead>
			<tr>
				<th class="col-xs-6" data-sorted="true" data-sorted-direction="descending">Date</th>
				<th class="col-xs-3" data-sortable="false">From</th>
				<th class="col-xs-3" data-sortable="false">To</th>
			</tr>
		</thead>
		<tbody>
			{% for after in afters %}
				{% if after.end %}
					<tr>
				{% else %}
					<tr class='warning'>
				{% endif %}
					<td data-value="{{ after.date.strftime('%s') }}">{{ after.date.strftime('%d/%m/%y') }}</td>
					<td>{{ after.start.strftime('%H:%M') }}</td>
					<td>{{ after.end.strftime('%H:%M') if after.end != None else '--:--' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
